.tg-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tg-button:hover {
  background-color: #0056b3;
}

/* Add a new class for the show button */
.tg-show-button {
  padding: 10px 16px;
  background-color: #bcbcbc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 10px;
}

/* Style the button on hover */
.tg-show-button:hover {
  background-color: #0056b3;
}

.telegram-btn-container {
  position: relative;
  left: 45%;
}
