.timeout-input {
  /* position: absolute; */
  /* top: 1%; */
  /* right: 40%; */
  /* background-color: white; */
  padding: 5px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  /* width: 40%;  */
}

.timeout-input input[type="number"] {
  margin-left: 1%;
  width: 5%;
  /* padding: 8px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 3px; */
}
