/* Timeout.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 4rem; */
}

.narrow-input {
  width: 150px; /* Adjust the width to your preference */
  margin-top: 0.5rem; /* Add some top margin for spacing */
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px; /* Adjust the margin to your preference for spacing between label and input */
}
